.App {
  /* text-align: center; */
  
  height:30px;
  position: fixed;
  /* left:0; */
  top:0;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
a{
  list-style: none;
  text-decoration: none;
}
.block{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom:1px solid silver;
}
